name: cd workflow
on:
   workflow_dispatch:
    inputs:
        image_tag:
            required: true
            description: "the docker image tag"
            default: "latest"
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: checkout 
              uses: actions/checkout@v4

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
                aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
                aws-region: ${{secrets.AWS_REGION}}

            - name: Create ECR repository if not exists
              run: |
                  aws ecr describe-repositories --repository-names nodejs-app || \
                  aws ecr create-repository --repository-name nodejs-app
            
            - name: Login to Amazon ECR
              run: |
                 aws ecr get-login-password --region ${{secrets.AWS_REGION}} | \
                 docker login --username AWS --password-stdin ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{secrets.AWS_REGION}}.amazonaws.com

            - name: Build Docker image
              run: docker build -t nodejs-app:${{ github.event.inputs.image_tag }} .
            
            - name: Tag docker image 
              run: | 
                docker tag nodejs-app:${{ github.event.inputs.image_tag }} \
                ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/nodejs-app:${{ github.event.inputs.image_tag }}
            
            - name:  Push The Docker image to ECR
              run: docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/nodejs-app:${{ github.event.inputs.image_tag }}
            
            - name: update the deployment yaml file with new image
              run: |
                    sed -i "s|THE_IMAGE_NAME|${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/nodejs-app:${{ github.event.inputs.image_tag }}|g" k8s/deployment.yaml

            - name: Deploy Deployment to EKS
              run: |
                        aws eks update-kubeconfig --region ${{ secrets.AWS_REGION }} --name eks-cluster
                        kubectl apply -f k8s/deployment.yaml
                        
            - name: Deploy Service LB to EKS
              run: kubectl apply -f k8s/svc.yaml